@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  font-family: 'Lobster', cursive;
  font-weight: 400;
 }

.land {
  background-image: url(./Components/Assets/Front.jpg);
}
.image{
  background-image: url(./Components/Assets/CanDoThis.jpg);
}